# Dependencies
node_modules/
fs_cockpit_frontend/node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
.DS_Store
